section {
  height: 100vh;
}
.logo {
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  color: #ccc;
  display: flex;
  align-items: center;
  user-select: none;
}

.ant-layout-header {
  display: flex;
  align-items: center;
  padding-left: 28px !important;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .avatar-wrap {
    display: inline-block;
    margin-left: auto;
    margin-right: 50px;
    cursor: pointer;
  }
}

.ant-layout-content {
  margin: 18px 16px !important;
  padding: 18px !important;
}
.site-layout-background {
  background: #fff;
}
